= form_for(@shipping) do |f|
  - if @shipping.errors.any?
    #error_explanation
      %h2
        = pluralize(@shipping.errors.count, "error")
        prohibited this shipping from being saved:
      %ul
        - @shipping.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :address
    %br/
    = f.text_area :address
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :state
    %br/
    = f.text_field :state
  .field
    = f.label :zip
    %br/
    = f.text_field :zip
  .actions
    = f.submit