<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @shipping.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @shipping.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shipping.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @shipping.zip %>
</p>

<p>
  <strong>User:</strong>
  <%= @shipping.user %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @shipping.cart %>
</p>

<%= link_to 'Edit', edit_shipping_path(@shipping) %> |
<%= link_to 'Back', shippings_path %>
