= form_for @product, html: { multipart: true } do |f|
	.form-group
		%h3 Name:
		= f.text_field :name
	.form-group
		%h3 Description:
		= f.text_area :description, rows: 5 
	.form-group
		%h3 Price:
		= f.text_field :price, percision: 5, scale: 2
	.form-group
		=f.file_field :photo
	.form-group
		= f.submit
 	